// Breakpoints
$breakpoints: (
  xsmall: 480px,
  small: 768px,
  medium: 960px,
  large: 1280px,
  xlarge: 1600px,
  xxlarge: 1920px,
);

// Text color
$text-color: (
  base: map-get($colors, '032-032-032'),
  link: map-get($colors, '032-032-032'),
  link-hover: map-get($colors, '031-141-214'),
  link-visited: map-get($colors, '032-032-032'),
);

// Text decoration
$text-decoration: (
  link: none,
  link-hover: underline,
);

// Font family
$font-family: (
  base: "'Helvetica Neue', Helvetica, Arial, sans-serif",
  title: "'Helvetica Neue', Helvetica, Arial, sans-serif",
);
